{% extends "base/base.html" %}

{% block title %}
    Успех
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-6 push-3">
            <h1 class="text-center alert alert-success" role="alert">
                {% if user.is_authenticated %}
                Вы вошли как: {{ user }} <br>
                Ваш город: {{ user.extuser.city }}
                {% else %}
                Вы вышли из своей учетной записи
                {% endif %}
            </h1>
            <h2 class="text-center"><a href="{% url 'blog:article_list' %}">Перейти на главную</a></h2>
            <h3 class="text-center"><a href="{% url 'city:choose_city' %}">Сменить город</a></h3>
        </div>
    </div>
{% endblock %}