{% load static %}
<header class="container-fluid">
    <div class="row top">
        <div class="col-md-3 top-left">
            {% if user.is_authenticated %}
                Пользователь: {{ user.username }} <a href="{% url 'city:logout' %}">Выйти</a> <br>
                    {% if user.extuser %} Город: {{ user.extuser.city }} <a href="{% url 'city:choose_city' %}">Сменить город</a>
                        {% else %}
                            <a href="{% url 'city:choose_city' %}">Выбрать город</a>
                    {% endif %}
            {% else %}
                <a href="{% url 'city:login' %}">Войти</a>
                <br>
                <a href="{% url 'city:create_extuser' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
        <div class="col-md-6 main-logo-div"><a href="/" class="main-logo-img"><img src="{% static 'img/header/My_logo.png' %}" alt="Artem Zverev" class="main-logo-img"></a></div>
        <div class="col-md-3 top-right">{% if firm_settings %}{{ firm_settings.email }} <br> {{ firm_settings.phone }} {% endif %}</div>
    </div>
</header>