{% extends 'base/base.html' %}

{% block title %}
    Статьи
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                    <a class="list-group-item list-group-item-info"
                        href="{% url 'blog:article_list' %}">Категории</a>
                {% for cat in categories_list %}
                    <a href="{% url 'blog:article_list' cat.slug %}"
                       class="list-group-item list-group-item-action {% if cat.slug == category_slug %}active {% endif %}">{{ cat.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            {% for article in article_list %}
                <div class="card text-center">
                    <div class="card-header">
                    {{ article.city }}
                        ({% for article_cat in article.categorys.all %}{{ article_cat.title }}, {% endfor %})
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">{{ article.title }}</h4>
                        <img class="card-img img-fluid" src="/media/{{ article.image }}" alt="{{ object.title }}">
                        <p class="card-text">{{ article.text | truncatewords_html:60 | safe }}</p>
                        <a href="{% url 'blog:article_detail' article.slug %}" class="btn btn-primary">Читать далее</a>
                    </div>
                </div>
            {% endfor %}

            {% if is_paginated %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="
{% if category_slug %}
{% url 'blog:article_list' category_slug %}?page={{ page_obj.previous_page_number }}"
{% else %}
{% url 'blog:article_list' %}?page={{ page_obj.previous_page_number }}"
{% endif %}
                                   tabindex="-1">Previous</a>
                            </li>
                        {% endif %}


                        <li class="page-item"><span
                                class="page-link">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                        </li>


                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="
                                   {% if category_slug %}
                                        {% url 'blog:article_list' category_slug %}?page={{ page_obj.next_page_number }}">
                                   {% else %}
                                           {% url 'blog:article_list' %}?page={{ page_obj.next_page_number }}">Next
                                       </a>
                                   {% endif %}

                            </li>
                        {% endif %}
                    </ul>
                </nav>

            {% endif %}

        </div>
    </div>

{% endblock %}