{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    {{ article.title }}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-2">
            <div class="list-group sticky-top">
                    <span class="list-group-item list-group-item-info">
                        Категории
                    </span>
                {% for cat in categories_list %}
                    <a href="{% url 'blog:article_list' cat.slug %}"
                       class="list-group-item list-group-item-action {% if cat.slug == article.slug %}active {% endif %}">{{ cat.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="card text-center w-100">
                <div class="card-header">
                    {% for article_cat in article.categorys.all %}{{ article_cat.title }} {% endfor %}
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{ object.title }}</h4>
                    <p class="card-text">
                        <img class="card-img img-fluid" src="/media/{{ object.image }}" alt="{{ object.title }}">
                        {{ object.text |safe }}</p>
                {% if user.is_authenticated %}
                    <button id="like"
                            {% if user.extuser in article.likes.all or user.extuser in article.dislikes.all %}disabled
                            data-toggle="tooltip" data-placement="top" title="Вы уже голосовали" {% endif %}
                            data-like-url="{% url 'blog:article_like' article.slug %}"
                            class="{% if user.extuser in article.likes.all or user.extuser in article.dislikes.all %}disabled{% endif %}">
                        <span id="likes-count">{{ object.likes.count }}</span>
                        <img src="{% static 'img/glyphicons/png/glyphicons-344-thumbs-up.png' %}" alt="Like">
                    </button>
                    <button id="dislike" data-like-url="{% url 'blog:article_like' article.slug %}"
                            {% if user.extuser in article.likes.all or user.extuser in article.dislikes.all %}disabled
                            data-toggle="tooltip" data-placement="top" title="Вы уже голосовали" {% endif %}
                            class="{% if user.extuser in article.likes.all or user.extuser in article.dislikes.all %}disabled{% endif %}">
                        <span id="dislikes-count">{{ object.dislikes.count }}</span>
                        <img src="{% static 'img/glyphicons/png/glyphicons-345-thumbs-down.png' %}" alt="dislike">
                    </button>
                {% endif %}
                </div>
                <div class="card-footer text-muted">
                    {{ article.date }}
                </div>
            </div>
            <h2 class="text-center m-3" style="text-shadow: 5px 5px 10px RGBA(0,0,0,0.3);">Комментарии</h2>
            <div class="article-comments">
                {% for comment in article.comments.all %}
                    <div class="card card-outline-secondary mb-3 text-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                {{ comment.body | safe }}
                                <footer><cite title="Source Title">&mdash; {{ comment.extuser.user }}.</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}
                {% if user.is_authenticated and comment_form %}
                    <div class="card card-outline-secondary mb-3 text-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <form action="{% url 'blog:article_comment' article.slug %}" method="POST">
                                    {% csrf_token %}
                                    {{ comment_form.body }}<br>
                                    <button type="submit">Оставить комментарий</button>
                                </form>
                                <footer><cite title="Source Title">&mdash; {{ user }}.</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                {% elif user.is_authenticated and not comment_form %}
                    <div class="card card-inverse card-danger text-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Вы уже оставляли комментарий</p>
                            </blockquote>
                        </div>
                    </div>
                {% else %}
                    <div class="card card-inverse card-info text-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Чтобы оставить комменатрий необходимо <a href="{% url 'city:create_extuser' %}">зарегистрироваться</a><p>
                            </blockquote>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}