{% extends "base/base.html" %}

{% block title %}
    Регистрация
{% endblock %}

{% block main_content %}
    <div class="row mt-5">
        <div class="col-md-6 push-3">
            {% if not user.is_authenticated %}
                <h2>Необходимо сначала зарегистрироваться</h2>
                <a href="{% url 'city:create_extuser' %}">Страница регистрации</a>
            {% else %}
                <form action="" method="post">
                <div class="form-group">
                    {% csrf_token %}
                        {{ form.city }}
                        <input type="hidden" name="user" value="{{ user }}">
                    <button type="submit">Выбрать</button>
                </div>
                </form>
            {% endif %}</div>

    </div>

{% endblock %}