{% extends "base/base.html" %}

{% block title %}
    Регистрация
{% endblock %}

{% block main_content %}
    <div class="row mt-5">
        <div class="col-md-6 push-3">
            {% if not user.is_authenticated %}
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <small id="emailHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit">Войти</button>
                </form>
            {% else %}
                <h2>Вы уже вошли как {{ user }}</h2>
            {% endif %}</div>

    </div>

{% endblock %}